$spacer: .5rem;

$border-color: #f0f0f0;
$border-color-open: #80bdff;
$border-radius: 4px;

$background-color: #ffffff;
$background-color-hover: #f5f6f7;
$background-color-active: rgba(199, 224, 244, 0.35);
$background-color-disabled: #fbfbfb;

$box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);