$spacer:                .5rem !default;

$font-size:             14px !default;
$font-weight:           400 !default;
$font-weight-bold:      500 !default;

$border-color:          #dee2e6 !default;
$border-hover-color:    #80bdff !default;
$border-radius:         .25rem !default;

$form-bg-color:         #ffffff !default;

$label-color:           #333333 !default;

$input-bg-color:        #ffffff !default;
$input-bg-hover:        #fbfbfb !default;
$input-color:           #333333 !default;

