@import 'variables';

.vue-form {
  display: flex;
  flex-direction: column;
  padding: $spacer;
  background-color: $form-bg-color;
  font-size: $font-size;

  .vue-input {
    &:not(:first-child) {
      margin-top: .5rem;
    }
    &-label {
      cursor: pointer;
      color: $label-color;
      font-weight: $font-weight-bold;
    }
    &-el {
      display: block;
      margin-top: $spacer / 2;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      padding: $spacer;
      color: $input-color;
      background-color: $input-bg-color;
      &:hover {
        border-color: $border-hover-color;
        background-color: $input-bg-hover;
      }
      &:focus {
        outline: none;
        box-shadow: 0 0 0 0.1rem $border-hover-color;
      }

      &[type="submit"] {
        cursor: pointer;
        font-weight: $font-weight-bold;
      }
    }
  }
}